{% load static %}
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Nav Area Start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        {% block content %}
        <div class="nav-area-wrapper-relative">
            <nav class="navbar navbar-area navbar-expand-lg navigation-style-02">
                <div class="container custom-container custom-container-01">
                    <div class="responsive-menu">
                        <div class="logo-wrapper">
                            <a href="index.html" class="logo">
                                <img src="static/img/Logos/logo-black.png" alt="">
                            </a>
                        </div>
                        <button class="navbar-toggler navbar-bs-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#kid_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="kid_main_menu">
                        <ul class="navbar-nav">
                            <li><a href="#0">Home</a></li>
                            <li><a href="about">About</a></li>
                            <li><a href="courses">Courses</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="nav-right-content">
                        <div class="icon-part">
                            <ul>
                                <li id="search"><a href="#"><img src="static/img/icon/search-icon.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="btn-wrap">
                            <a href="login" class="btn-common nav-btn">Login</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
            {% endblock %}
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Nav Area Ends Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area start Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <footer class="footer-area style-01">
            <div class="footer-top">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget widget widget_subscribe">
                                <div class="subscibe-wrapper">
                                    <div class="content-wrap">
                                        <div class="icon">
                                            <img src="static/img/icon/newslater.png" alt="">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Subscribe our newsletter</h4>
                                            <p>Enter your mail address to get our updates, offer and study abroad
                                                related all updates</p>
                                        </div>

                                    </div>
                                    <div class="subscribe-form">
                                        <div class="form-group">
                                            <input type="text" name="fname" placeholder="Enter your Email..."
                                                class="form-control" required="" aria-required="true">
                                            <div class="btn-wrap">
                                                <a href="service-single.html" class="subscribe-btn">
                                                    <img src="static/img/icon/bell.png" alt="">subscribe</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-middle">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer-widget widget widget_nav_menu">
                                    <h4 class="widget-headline">Important Links</h4>
                                    <ul>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Disclaimer and copyright</a></li>
                                        <li><a href="#">Privacy policy</a></li>
                                        <li><a href="#">Equality and diversity</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <div class="footer-widget widget widget_nav_menu">
                                    <h4 class="widget-headline">Site Highlight</h4>
                                    <ul>
                                        <li><a href="#">Course videos</a></li>
                                        <li><a href="#">Photo gallery</a></li>
                                        <li><a href="#">Student newsletter</a></li>
                                        <li><a href="#">Student portal</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer-widget widget widget_nav_menu">
                                    <h4 class="widget-headline">Help Center</h4>
                                    <ul>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="#">Frequently asked questions</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <div class="footer-widget widget widget_nav_menu">
                                    <h4 class="widget-headline">Services</h4>
                                    <ul>
                                        <li><a href="#">Counselling</a></li>
                                        <li><a href="#">Test Preparation</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <div class="footer-widget widget widget_nav_menu">
                                    <h4 class="widget-headline">Location</h4>
                                    <ul class="contact_info_list">
                                        <li class="single-info-item">
                                            <div class="icon">
                                                <img src="static/img/icon/location-02.png" alt="">
                                            </div>
                                            <div class="details">
                                                8502 Casablanca Rd. Morocco
                                            </div>
                                        </li>
                                        <li class="single-info-item">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container custom-container-01">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-area-inner">
                                <p>© 2023 KidLearns. All rights reserved</p>
                                <div class="footer-social-area">
                                    <ul class="social-icon-02">
                                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            footer area End Here
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->